.form-control {
    margin: 0.5rem 0;
  }
  
  .form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-control input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
  }
  
  .form-control input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
  }
  .form-control__action button {
    height: 2rem;
    width: 6rem;
    background-color: #8b005d;
    color: white;
    border: none;
    border-radius: 4px;
  }

  .form-control.inValid label {
    color: red;
  }

  .form-control.inValid input {
    background-color: red;
    border: #f7aaae;
  }